@charset "UTF-8";

body{
    background-color: #D6ACCF;
}

#form > div {
    margin-top: 10px;
    margin-bottom: 30px;
}

#form > div:last-child {
    margin-top: 50px;
    margin-bottom: 20px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(255,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}


.panel-title{
    color: #D6ACCF;
    font-size: 17px;
}

.m-logo{
    margin: 0 auto 0 auto;
    width: 300px;
    height: 300px;
    text-indent: -99999px;
    background-image: url(../resources/svg/logo.svg);
	background-repeat: no-repeat;
	background-position-x: center;
    background-size: 300px;
}